<td-layout #layout
  [opened]="true"
  [mode]="'side'"
  >

  <td-navigation-drawer
    #navDrawer
    flex
    sidenavTitle="TEST-CREST-ENQ"
    name="{{ authService.displayName$ | async }}" email="{{ authService.displayEmail$ | async }}"
    >

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/auth', 'login']"     routerLinkActive='active'><mat-icon>person</mat-icon>Login</a>
    </mat-nav-list>

  </td-navigation-drawer>

  <router-outlet></router-outlet>

</td-layout>
